<div id="hd">
    <div class="hd-top">
        <h1 class="logo"><a href="javascript:;" class="logo-icon"></a></h1>
        <div class="user-info">
            <a href="javascript:;" class="user-avatar"><span><i class="info-num">2</i></span></a>
            <span class="user-name">
                <php>
                    $uid=session("uid");
                    $admins=M("admin");
                    $name=$admins->field('UserName')->where('id='.$uid)->select();
                    echo $name[0]['username'];
                </php>
            </span>
            <a href="javascript:;" class="more-info"></a>
        </div>
        <div class="setting ue-clear">

            <ul class="setting-main ue-clear">
                <li><a href="javascript:;">桌面</a></li>
                <li><a href="javascript:;">设置</a></li>
                <li><a href="javascript:;">帮助</a></li>
                <li><a href="{:U('Common/quits')}" class="close-btn exit"></a></li>
            </ul>
        </div>
    </div>
    <div class="hd-bottom">
        <i class="home"><a href="javascript:;"></a></i>
        <div class="nav-wrap">
            <ul class="nav ue-clear">
                <li><a href="{:U('Index/index')}">平台管理</a></li>
                <li><a href="javascript:;">系统管理</a></li>

                <li><a href="javascript:;">安全管理</a></li>
                <li><a href="javascript:;">数据中心</a></li>
            </ul>
        </div>
        <div class="nav-btn">
            <a href="javascript:;" class="nav-prev-btn"></a>
            <a href="javascript:;" class="nav-next-btn"></a>
        </div>
    </div>
</div>
<script>
    $(function ()
    {
        $("ul.ue-clear li").click(function ()
        {
            var index = $(this).index();
            $(".sidebar .nav").eq(index).show();
            $(".sidebar .nav").eq(index).siblings(".sidebar .nav").hide();
        });
    });
</script>